Conection workflow.json
{
  "name": "Conection workflow",
  "nodes": [
    {
      "parameters": {
        "path": "approve",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3792,
        1824
      ],
      "id": "3b71fcd5-0974-4e2b-9832-56dbf4556fea",
      "name": "🌐 Webhook Approval",
      "webhookId": "a5a25f23-b3c5-4746-bad9-3f71751b4777"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<div style=\"font-family:Arial; text-align:center; padding:40px;\"><h2>={{ $json.query.action === 'APPROVE' ? '✅ Post Aprobado' : '❌ Post Rechazado' }}</h2><p>Post ID: {{ $json.query.post_id }}</p><p>Puedes cerrar esta ventana.</p></div>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4000,
        1824
      ],
      "id": "84326ee3-9e61-4f30-bcf5-d40a21ddc5b4",
      "name": "📨 Respond to Webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BNmL_MguLhmqaJOimfXh53tEFqhmDG95-Gas482A8rY",
          "mode": "list",
          "cachedResultName": "Genius Astra Posts ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BNmL_MguLhmqaJOimfXh53tEFqhmDG95-Gas482A8rY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1611598867,
          "mode": "list",
          "cachedResultName": "data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BNmL_MguLhmqaJOimfXh53tEFqhmDG95-Gas482A8rY/edit#gid=1611598867"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4208,
        1824
      ],
      "id": "b07383cd-f659-4af6-9ea0-ebfc8ec36de2",
      "name": "📊 Get Post Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZVkYY5blo2ajMfxn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "approve-check",
              "leftValue": "={{ $('🌐 Webhook Approval').item.json.query.action }}",
              "rightValue": "APPROVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4400,
        1824
      ],
      "id": "fb003615-8f3c-4ba1-9e45-14484350e2fb",
      "name": "🔀 APPROVED or REJECTED?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1BNmL_MguLhmqaJOimfXh53tEFqhmDG95-Gas482A8rY",
          "mode": "list",
          "cachedResultName": "Genius Astra Posts ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BNmL_MguLhmqaJOimfXh53tEFqhmDG95-Gas482A8rY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1611598867,
          "mode": "list",
          "cachedResultName": "data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BNmL_MguLhmqaJOimfXh53tEFqhmDG95-Gas482A8rY/edit#gid=1611598867"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "SUCCESS",
            "Post_id": "={{ $('📊 Get Post Data').item.json.Post_id }}"
          },
          "matchingColumns": [
            "Post_id"
          ],
          "schema": [
            {
              "id": "Post_id",
              "displayName": "Post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_url",
              "displayName": "Image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5344,
        1680
      ],
      "id": "9e291e85-7ec6-4999-aa78-e9ab029572fc",
      "name": "✅ Update Status: Published",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZVkYY5blo2ajMfxn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "Phoenixtec0@gmail.com",
        "subject": "=✅ Post PUBLICADO — Genius Astra |  {{ $('🌐 Webhook Approval').item.json.query['post_id2026-02-22T00:49:25.582-05:00'] }}",
        "message": "=<div style=\"font-family:Arial; max-width:600px; margin:0 auto; padding:20px;\"><h2 style=\"color:#28a745;\">✅ Post Publicado Exitosamente</h2><p><strong>Post ID:</strong> {{ $('🌐 Webhook Approval').item.json.query.post_id }}</p><p><strong>Título:</strong> {{ $json.Title }}</p><p><strong>Caption:</strong><br>{{ $json.Description }}</p><p><strong>Hashtags:</strong> {{ $json.Hashtags }}</p><img src=\"{{ $json.Image_url }}\" width=\"100%\" style=\"border-radius:8px;\"/><p>— Genius Astra Automation Engine 🤖</p></div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5424,
        1888
      ],
      "id": "717420f5-a7d6-4cbf-a39d-bd033feb5b2e",
      "name": "📧 Gmail — Confirm Published",
      "webhookId": "863a6eb4-acaf-4d6c-8ecb-6038f9e67bc2",
      "credentials": {
        "gmailOAuth2": {
          "id": "rGsdLu9a3bbdpBQ9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1BNmL_MguLhmqaJOimfXh53tEFqhmDG95-Gas482A8rY",
          "mode": "list",
          "cachedResultName": "Genius Astra Posts ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BNmL_MguLhmqaJOimfXh53tEFqhmDG95-Gas482A8rY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1611598867,
          "mode": "list",
          "cachedResultName": "data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BNmL_MguLhmqaJOimfXh53tEFqhmDG95-Gas482A8rY/edit#gid=1611598867"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post_id": "={{ $('📊 Get Post Data').item.json.Post_id }}",
            "Status": "REFUSED"
          },
          "matchingColumns": [
            "Post_id"
          ],
          "schema": [
            {
              "id": "Post_id",
              "displayName": "Post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_url",
              "displayName": "Image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4640,
        2016
      ],
      "id": "2da60613-4e15-4840-b97b-0ff29057bb86",
      "name": "❌ Update Status: Rejected",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZVkYY5blo2ajMfxn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "Phoenixtec0@gmail.com",
        "subject": "=❌ Post RECHAZADO — Genius Astra | {{ $json.Post_id }}",
        "message": "=<div style=\"font-family:Arial; max-width:600px; margin:0 auto; padding:20px;\"><h2 style=\"color:#dc3545;\">❌ Post Rechazado — Necesita Revisión</h2><p><strong>Post ID:\n{{ $('🌐 Webhook Approval').item.json.query['post_idPOST-20260222-153658'] }}\n</strong> </p><p><strong>Título:</strong> {{ $('📊 Get Post Data').item.json.Title }}</p><p><strong>Caption:</strong><br>{{ $('📊 Get Post Data').item.json.Description }}</p><p><strong>Hashtags:</strong> {{ $('📊 Get Post Data').item.json.Hashtags }}</p><img src=\"{{ $('📊 Get Post Data').item.json.Image_url }}\" width=\"100%\" style=\"border-radius:8px;\"/><p><em>Post guardado en Google Sheets con status: rejected_needs_revision.</em></p><p>— Genius Astra Automation Engine 🤖</p></div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4896,
        2016
      ],
      "id": "b838ea74-b7df-4bf1-9499-173aa3a18d09",
      "name": "📧 Gmail — Notify Rejection",
      "webhookId": "fe7d13dc-d714-4ad2-8c8f-84e873af9169",
      "credentials": {
        "gmailOAuth2": {
          "id": "rGsdLu9a3bbdpBQ9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"pageContent\": \"POST PUBLISHED: {{ $json.TITLE }} | Date: {{ $now }}\",\n  \"metadata\": {\n    \"type\": \"published_post\",\n    \"date\": \"{{ $now }}\",\n    \"post_id\": \"{{ $('🌐 Webhook Approval').item.json.query['post_id2026-02-22T00:01:27.265-05:00'] }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5568,
        1840
      ],
      "id": "03876211-0fe1-4a02-805b-43bfaf8b89a3",
      "name": "📝 Prepare Memory Document"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "personal",
          "mode": "list",
          "cachedResultName": "personal"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        5760,
        1840
      ],
      "id": "e507c6ae-f9c2-42ef-99e8-d0d3453d7fb7",
      "name": "🧠 Store Post in Memory",
      "credentials": {
        "pineconeApi": {
          "id": "CcI1VTfhQkX1kB6q",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        5680,
        2176
      ],
      "id": "d0b72563-9846-48ec-83eb-7ae2083cc781",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "6oB1WcrnL1nJ1HjL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        5888,
        2064
      ],
      "id": "c33da721-c51b-46a3-9b6d-1628ea9ef5d7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "## 🟢 PHASE 6 — WHATSAPP CONVERSATIONAL AI AGENT\nWebhook listens to incoming WhatsApp messages.\nAgent with vector memory can:\n• Answer questions about pending posts\n• Suggest new content ideas\n• Generate alternative post versions\n• Approve/Reject posts via chat command",
        "height": 256,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4032,
        1504
      ],
      "id": "60a32ad3-805b-4b64-a3c1-86db67ab7439",
      "name": "Note Phase 6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getlate.dev/api/v1/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk_d3ef8bc8567e17cbff454b8ae1b6c88ab510f2ba5b239573d8c6545d8f12e53b"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $json.Title }}{{ $json.Description }}{{ $json.Hashtags }}\",\n  \"mediaItems\": [\n    { \"url\": \"{{ $json.Image_url }}\", \"type\": \"image\" }\n  ],\n  \"platforms\": [\n    { \"platform\": \"instagram\", \"accountId\": \"{{ $('ID Get Late Accounts').item.json.instagram }}\" }\n  ],\n  \"publishNow\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5088,
        1664
      ],
      "id": "6af3ed43-c304-4dda-be99-1fcbcbeb63ee",
      "name": "📸 Post to Instagram (Getlate)"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n \"facebook\": \"699b5ea18ab8ae478b3ceae3\",\n \"facebook_page_id\": \"61585073977460\",\n \"instagram\": \"699b58768ab8ae478b3ce256\",\n \"linkedin\": \"697ab30077637c5c857cb6a1\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4592,
        1808
      ],
      "id": "aa28d90f-c2bc-4c5f-814d-68373735b239",
      "name": "ID Get Late Accounts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getlate.dev/api/v1/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk_d3ef8bc8567e17cbff454b8ae1b6c88ab510f2ba5b239573d8c6545d8f12e53b"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $json.Title }}{{ $json.Description }}{{ $json.Hashtags}}\",\n  \"mediaItems\": [\n    { \"url\": \"{{ $('ID Get Late Accounts').item.json.Image_url }}\", \"type\": \"image\" }\n  ],\n  \"platforms\": [\n    { \"platform\": \"facebook\", \"accountId\": \"{{ $('ID Get Late Accounts').item.json.facebook }}\" }\n  ],\n  \"tiktokSettings\": {\n    \"privacy_level\": \"PUBLIC_TO_EVERYONE\",\n    \"allow_comment\": true,\n    \"allow_duet\": true,\n    \"allow_stitch\": true,\n    \"content_preview_confirmed\": true,\n    \"express_consent_given\": true,\n    \"video_made_with_ai\": true\n  },\n  \"publishNow\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5104,
        1888
      ],
      "id": "451cbb9c-190c-4601-a884-db9caeed0914",
      "name": "📘 Post to Facebook (Getlate)"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nreturn [{\n  json: {\n    Post_id: item.Post_id,\n    Title: item.Title,\n    Description: item.Description\n      .replace(/\\\\n/g, ' ')\n      .replace(/\\n/g, ' ')\n      .trim(),\n    Hashtags: item.Hashtags,\n    Image_url: item.Image_url,\n    Status: item.Status\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4736,
        1760
      ],
      "id": "188ba012-edf9-4f28-9c26-00c25fd612ef",
      "name": "🧹 Clean Post Data"
    }
  ],
  "pinData": {},
  "connections": {
    "🌐 Webhook Approval": {
      "main": [
        [
          {
            "node": "📨 Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 Respond to Webhook": {
      "main": [
        [
          {
            "node": "📊 Get Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Get Post Data": {
      "main": [
        [
          {
            "node": "🔀 APPROVED or REJECTED?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 APPROVED or REJECTED?": {
      "main": [
        [
          {
            "node": "ID Get Late Accounts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Update Status: Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Gmail — Confirm Published": {
      "main": [
        [
          {
            "node": "📝 Prepare Memory Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Prepare Memory Document": {
      "main": [
        [
          {
            "node": "🧠 Store Post in Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Update Status: Rejected": {
      "main": [
        [
          {
            "node": "📧 Gmail — Notify Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "🧠 Store Post in Memory",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "🧠 Store Post in Memory",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "📸 Post to Instagram (Getlate)": {
      "main": [
        [
          {
            "node": "✅ Update Status: Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Get Late Accounts": {
      "main": [
        [
          {
            "node": "🧹 Clean Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📘 Post to Facebook (Getlate)": {
      "main": [
        [
          {
            "node": "📧 Gmail — Confirm Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧹 Clean Post Data": {
      "main": [
        [
          {
            "node": "📸 Post to Instagram (Getlate)",
            "type": "main",
            "index": 0
          },
          {
            "node": "📘 Post to Facebook (Getlate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d9c5f9e3-1d46-4e4b-9320-aedc30a1e08c",
  "meta": {
    "instanceId": "747783bda3f10a4d4023457d44f25ea0576e9cc9460c72700a587b2653a24d87"
  },
  "id": "EOPDPdgYp3wOslW0",
  "tags": []
}
